* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #navigation {
    position: absolute;
    margin-top: 58%;
    display: flex;
    justify-content: center;
    width: 95%;
  }
  .text {
    width: 100%;
    max-width: 16em;
    height: 3em;
    margin-top: 70%;
    overflow: hidden;
    position: absolute;
  }
}
@media screen and (min-width: 769px) {
  #navigation {
    position: absolute;
    margin-top: 58%;
    display: flex;
    justify-content: end;
    width: 95%;
  }
  .text {
    width: 100%;
    max-width: 16em;
    height: 3em;
    margin-top: 58%;
    overflow: hidden;
    position: absolute;
  }
}
body {
  background-color: grey;
  margin: 0 auto;
}

.box {
  width: 100%;
  max-width: 70em;
  height: 100%;
  max-height: 49em;
  top: 50%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #323b4c;
  transform: translate(-50%, -50%);
}
.sliderBox {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  overflow: hidden;
  border-radius: 2em;
}
